# Build files
.gradle
.kotlin
build
.cxx

# IDE files
*.iml
.idea/*
!.idea/icon.svg
/captures

# Configuration files
local.properties
chimahon-release.jks

# macOS specific files
.DS_Store

*.md
/ref
/external_ocr_refs
*.md
AGENTS.md
/app/src/main/assets/ocr-test
